@model MySecondWebsite.Models.Person

<div class="">
    <h1></h1>
    <p class="lead">Hello @Model.FirstName! Thank you for registering!</p>
    @(Html.ActionLink("Return Home", "Main", null, new { @class = "btn"}))
</div>
