
<div class="sscontainer">
    <img class="mySlides" src="https://www.w3schools.com/w3css/img_snowtops.jpg" style="width:100%">
    <img class="mySlides" src="https://www.w3schools.com/w3css/img_lights.jpg" style="width:100%">
    <img class="mySlides" src="https://www.w3schools.com/w3css/img_mountains.jpg" style="width:100%">
    <img class="mySlides" src="https://www.w3schools.com/w3css/img_forest.jpg" style="width:100%">

    <button class="ssbutton display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="ssbutton display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script type="text/javascript">
    var slideIndex = 1;
    showDivs(slideIndex);
    
function plusDivs(n) {
    showDivs(slideIndex += n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) { slideIndex = 1 };
    if (n < 1) { slideIndex = x.length };
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
}
</script>